
.no-border{
	border: none;

}

#tabbrand a:hover{
	color: red;
}

a:hover{
	cursor: pointer;
}

textarea{
	resize: vertical;

}

.green_grad {
background: -webkit-linear-gradient(#FFF, #19cd37); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#FFF, #19cd37); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FFF, #19cd37); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FFF, #19cd37); /* Standard syntax */
text-align: center;
padding: 0px 0px 0px 0px;
}

.curve{
	border-radius: 5px;

}

.shadow-outside{
        -moz-box-shadow:    2px 2px 4px 2px #999;
        -webkit-box-shadow: 2px 2px 4px 2px #999;
        box-shadow:         2px 2px 4px 2px #999;
}

.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}

.panel-centered{
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
}

.font-color-white{
	color:white !important;

}

.bg-blue{
	background-color: blue !important;
	border: none;
	border-radius: 0px;
}

.bg-deepskyblue{ background-color: powderblue}

.bg-60{ background-color: #606060 !important; }
.bg-forest-green{ background-color: forestgreen !important; }

.bg-40{ background-color: #404040 !important; }

.bg-smoke{ background-color: whitesmoke !important; }

.no-border{ border: none; }

.box-shadow{ box-shadow: -10px 10px 19px -8px rgba(0,0,0,0.25); }

.bg-white{ background-color: white !important; }

.footer{
	text-align: center;
	color: gray
}

.main-bg{
	background-image		: url("../tree_bark.png");
	/border					: solid 1px black;
	/background-attachment 	: fixed;
	/background-size       	: cover;
}

.login-bg{
	background-image		: url("../giftly.png");
	border					: solid 1px black;
	/background-attachment 	: fixed;
	/background-size       	: cover;

}

.inside-bg{
	background-image		: url("../school.png");
	border					: solid 1px black;
	/background-attachment 	: fixed;
	/background-size       	: cover;

}

.frame{
	box-shadow		: 10px 10px 5px #888888;
	border			: solid 1px black;
	border-radius	: 10px;
	/background-color: #333333;

}
