					
						<button type='button' onclick="revert_details()"> Change </button>
						<input type='text' id='field1' />
						<input type='text' id='field2' />
						<input type='text' id='field3' />
						
					
						<script>
							function revert_details(){
								document.getElementById("field1").value = "value changed 1";
								document.getElementById("field2").value = "value changed 2";
								document.getElementById("field3").value = "value changed 3";
								
							}
					   </script>